<!DOCTYPE html>
<html>
    <style>
        .my-button {
            background-color: #007bff; /* 改變背景顏色 */
            color: #fff; /* 改變文字顏色 */
            border: none; /* 去掉邊框 */
            border-radius: 10px; /* 圓角 */
            font-size: 24px; /* 改變字型大小 */
            padding: 20px 40px; /* 改變 padding */
        }
    </style>
<head>
	<meta charset="utf-8" />
	<title>預約通知信</title>
</head>
<body>
	<h2>親愛的 {{UserName}}房東您好，</h2>
	<p>已有租戶已經預約了您的房屋，以下是預約詳細資訊：</p>
	<ul>
		<li>預約日期：{{Date}}</li>
		<li>預約時間：{{Time}}</li>
		<li>看房地址：{{Address}}</li>
	</ul>
    <p>請您在預約時間前做好準備，並確認您的聯絡方式是否正確。</p>
    <p>如有任何疑問，請隨時聯繫我們。</p>
    <p>謝謝。</p>
    <br>
    <p>此致</p>
    <br>
    <p>HomeFinder團隊</p>
    <form method="post" action="http://localhost:5190/api/List/CheckBooking">
        <input type="hidden" name="Book_Id" value="{{Book_Id}}" />
        <button type="submit" name="state" value="1" class="my-button">確認預約</button>
        <button type="submit" name="state" value="0" class="my-button">取消預約</button>
        <input type="hidden" name="Content-Type" value="application/json">
    </form>
</body>
</html>

