<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>取消預約看房</title>
</head>
<body>
    <div style="font-size: 18px; font-weight: bold;">取消預約看房通知</div>
    <div style="font-size: 16px; margin-top: 20px;">親愛的{{UserName}}，</div>
    <div style="font-size: 16px;">非常感謝您對我們的關注，以及對我們租屋的預約看房。</div>
    <div style="font-size: 16px;">很抱歉地告訴您，我們收到了取消預約看房的請求。</div>
    <div style="font-size: 16px;">
    如下取消預約資訊如下：
    <ul>
        <li>看房資訊：{{Title}}</li>
        <li>預約日期：{{Date}}</li>
        <li>預約時間：{{Time}}</li>
    </ul>
    </div>
    <div style="font-size: 16px; margin-top: 30px;">祝您有美好的一天！</div>
    <div style="font-size: 16px; font-weight: bold; margin-top: 20px;">此致</div>
    <div style="font-size: 16px; font-weight: bold; margin-top: 10px;">敬禮！</div>
</body>
</html>
